@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Open+Sans:wght@300;400;600&display=swap');

/* Aplica la fuente a toda la aplicación */
* {
  font-family: 'Roboto', sans-serif;
}

/* Títulos con una fuente diferente */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

/* Si deseas cambiar la fuente de los párrafos también */
p {
  font-family: 'Roboto', sans-serif;
}

/* Puedes aplicar otras personalizaciones específicas, como para botones, enlaces, etc. */
button {
  font-family: 'Roboto', sans-serif;
}

a {
  font-family: 'Roboto', sans-serif;
}
