<mat-toolbar class="navbar">
    <a routerLink="/" class="logo-link">CutMarket</a>
    <span class="spacer"></span>
  
    <ng-container *ngIf="!isLoggedIn()">
      <button mat-flat-button class="btn-primary" routerLink="/login">
        <mat-icon>login</mat-icon>
        Iniciar Sesión
      </button>
      <button mat-stroked-button class="btn-secondary" routerLink="/register">
        <mat-icon>person_add</mat-icon>
        Registrarse
      </button>
    </ng-container>
  
    <ng-container *ngIf="isLoggedIn()">
      <button mat-flat-button class="btn-primary" routerLink="/products">
        <mat-icon>shopping_cart</mat-icon>
        Productos
      </button>
      <button mat-stroked-button class="btn-secondary" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Cerrar Sesión
      </button>
    </ng-container>
  </mat-toolbar>
  